header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    z-index: 1000;
    /* border-bottom: var(--BLignt-1); */
}
.header-Box {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-Box img {
    width: 10rem;
}

nav {
    border: 1px solid rgba(255, 255, 255, 0.507);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(5px); */
}
nav a {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--txl);
}
.header-MBtn {display: none;}


